<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>cw01</display-name>
    <description>Aplikacje internetowe - ćwiczenie 1</description>   
    
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>pl.altkom.ControllerServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>pl.altkom.RedirectServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
        
    <welcome-file-list>
        <welcome-file>controller</welcome-file>
    </welcome-file-list>
   
</web-app>
